<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver tareas</title>
</head>
<body>

{% block content %}



<br>

{% for tarea in tarea %}
<div>
    <ul>
        <li> {{ tarea.actividad }} </li>
        <li> {{ tarea.encargado }} </li>
        <li> {{ tarea.descripcion }} </li>
        <li> {{ tarea.estado }} </li>
    </ul>
</div>

{% endfor %}

</body>

{% endblock %}

</html>